.table-output-bounding-box { position: relative; white-space: nowrap; }
.table-output-bounding-box .new-btn { display: inline-block; margin-bottom: 8px; }

.table-output-bounding-box .page-nav-container { margin: 16px 0; display: flex; }
.table-output-bounding-box .prev-btn, .table-output-bounding-box .next-btn { display: inline-block; }

.table-output-content { position: relative; }

.table-output-content .selectable tr[data-selected=true] { background: #C8EBFB; }

.table-output tr.table-head { background: #03A9F4 !important; color: #fff; }
.table-output { overflow-y: hidden; table-layout: fixed; display: block; overflow-x: auto; border-collapse: collapse; font-size: 12px; }
.table-output th { border: none; position: relative; padding: 0; height: 30px; line-height: 30px; white-space: nowrap; text-align: left; }
.table-output th .sticky { display: flex; cursor: pointer; position: relative; }
.table-output th .sticky span { flex-grow: 1; line-height: 30px; display: inline-block; padding-right: 4px; }

.filter { cursor: pointer; display: inline-block; width: 32px; text-align: center; height: 30px; }
.filter:hover { background: rgba(255, 255, 255, .2); }
.filter[data-active=true] { background: #1abc9c; }

.nav-btn, .next-btn, .prev-btn { line-height: 33px; display: inline-block; text-align: center; cursor: pointer; background: #f5f5f5; color: #0d95d9; border-right: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; }
.nav-btn:hover, .next-btn:hover, .prev-btn:hover { background: #f0f0f0; }
.nav-btn .num { display: block; line-height: 22px; height: 22px; font-size: 14px; }
.nav-btn .desc { color: #727272; line-height: 20px; height: 20px; font-size: 12px; display: block; padding: 0 8px; }
.nav-btn .desc .l { color: #444; max-width: 32px; width: 32px; text-overflow: ellipsis; display: inline-block; vertical-align: middle; overflow: hidden; }
.next-btn, .prev-btn { flex-shrink: 0; height: 42px; vertical-align: middle; width: 42px; line-height: 42px; }

.overflow-btns { overflow: hidden; display: inline-block; vertical-align: middle; }

.prev-btn { border-radius: 4px 0 0 4px; border-left: 1px solid #e2e2e2; }
.next-btn { border-radius: 0 4px 4px 0; border-right: 1px solid #e2e2e2; }
.nav-btn.curr { background: #e8e8e8 !important; }

.nav-btn {
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
	-webkit-transition: background .2s ease;
	transition: background .2s ease; }

.total-count { position: absolute; right: 0; line-height: 36px; text-align: center; font-size: 13px; top: 0; color: #666; }

.table-output-bounding-box .sticky[data-order-by=true] { background: #3498db; box-shadow: 0px -2px 0px #333 inset; }
.table-output-bounding-box[data-scroll=true] .sticky:after { display: block; }
.table-output tr:nth-of-type(2n) { background: #f4f4f4; }

.table-output .show { display: block; }
.table-output td { font-family: Verdana; font-size: 10px; line-height: 30px; height: 30px; overflow: hidden; padding: 0 16px; text-overflow: ellipsis; white-space: nowrap;  }
.table-output td[data-type=VAR_STRING], .sticky[data-type=VAR_STRING],
.table-output td[data-type=BLOB], .sticky[data-type=BLOB],
.table-output td[data-type=LONG], .sticky[data-type=LONG] { min-width: 80px; }
.table-output td[data-type=DATE], .sticky[data-type=DATE] { min-width: 64px; }
.table-output td[data-type=TINY], .sticky[data-type=TINY] { min-width: 40px; }
.table-output th > div { padding: 0 0 0 16px; }

.tbl-actions { position: absolute; left: 0; top: 32px; background: #fff; display: inline-block; border-right: 1px solid #eee; border-left: 1px solid #eee; }
.tbl-actions > div { height: 32px; line-height: 32px; white-space: nowrap; border-top: 1px solid #eee; }

/* horizontal */
.table-output-bounding-box.horizontal .tbl-actions { border-left: none; margin-top: 32px; position: static; float: left; }
.table-output-bounding-box.horizontal .tbl-actions > div { padding: 0 16px; overflow: hidden; text-overflow: ellipsis; min-width: 120px; max-width: 180px; font-weight: bold; border-color: transparent; }
.table-output-bounding-box.horizontal .table-output td { height: 32px; max-width: 400px; width: 180px; }

@media all and (min-width: 961px) {
	.page-actions-container { display: none; }
	.page-actions-container[data-visible=true] { vertical-align: top; display: inline-block; }
	.page-actions-container button { margin-left: 8px; }
	.page-actions-container button[data-visible=false] { display: none; }
}

@media all and (max-width: 960px) {
	.page-actions-container { -webkit-transform: translateY(80px); transform: translateY(80px); z-index: 1; background: #fff; box-shadow: 0 -2px 2px #bbb; position: fixed; bottom: 0; left: 0; width: 100%; padding: 12px; display: flex;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-moz-transition: transform .2s ease-out;
		-o-transition: transform .2s ease-out;
		-webkit-transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out; }
	
	.page-actions-container[data-visible=true] { transform: translateY(0); -webkit-transform: translateY(0); }
	
	.page-actions-container button { width: auto; flex-grow: 1; margin: 0 4px; }
	.page-actions-container button[data-visible=false] { display: none; }
}