<dom-module id="blend-box-field">
  <style>
    :host {
      display: block;
      position: relative;
      width: 178px;
      height: 62px;
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
  </style>
  <template>

    <datalist id="autocomplete-list-[[id]]">
      <template is="dom-repeat" items="{{proposals}}">
        <option>{{item.content}}</option>
      </template>
    </datalist>

    <template is="dom-if" if="[[contains('bool', field.type)]]">
      <paper-checkbox id="input" checked="{{field.content}}">[[field.header]]</paper-checkbox>
    </template>
    <template is="dom-if" if="[[contains('text date stars email number', field.type)]]">
      <paper-input id="input" type="[[getInputType(field)]]" required list="autocomplete-list-[[id]]" label="[[field.header]]" value="{{field.content::input}}"></paper-input>
    </template>

    <!-- display reference button -->
    <template is="dom-if" if="{{hasLinkReference(field)}}">
      <div class="new-link-btn" data-title$="[[field.header]]" data-id$="[[getReferenceId(field)]]" data-reference$="[[getReference(field)]]">neu</div>
    </template>
  </template>
  <script>
  var id = 0;
  Polymer({
    is: 'blend-box-field',
    properties: {

      // required
      field: {
        type: Object,
        notify: true
      },

      // optional
      proposals: {
        type: Array,
        value: []
      }
    },

    hasLinkId: function(field) {
      return field.link && field.link.id;
    },

    hasLinkReference: function(field) {
      return field.link && field.link.reference;
    },

    /**
     * Field loaded.
     *
     * @return void
     */
    ready: function() {
      this.id = id++;

      this.async(function() {
        if (this.contains('bool', this.field.type)) {
          this.set('field.content', this.field.value == 1);
          this.$$('#input').addEventListener('change', this.processBoolInput.bind(this));
        } else {
          this.$$('#input').addEventListener('input', this.processInput.bind(this));
        }
      });
    },

    getInputType: function(field) {
      switch(field.type) {
        case 'date':
          return 'date';
        case 'email':
          return 'email';
        case 'stars':
        case 'number':
          return 'number';
      }
      return 'text';
    },

    processBoolInput: function() {
      this.set('field.value', this.field.content ? 1 : 0);
    },

    processInput: function() {
      var _this = this,
          val = this.field.content;

      if (!this.field.link || !this.field.link.id) {
        this.field.value = this.field.content;
        return;
      }

      // get the autocomplete list
      $.get(sprintf('%s&l=%s', this.field.link.id, val), function(data) {

        // update proposals
        _this.proposals = JSON.parse(data);
        _this.set('proposals', _this.proposals);
        _this.notifyPath('proposals', _this.proposals);

        // set the value if the input matches a content
        // the value always matches a proposal
        _this.proposals.filter(function(proposal) {
          return proposal.content == val;
        }).map(function(proposal) {
          _this.field.value = proposal.value;
        });
      });
    },

    updateValue: function(value, content) {
      this.field.content = content;
      this.field.value = value;
      this.set('field.content', content);
      this.set('field.value', value);
    },

    getReference: function(field) {
      var ref = field.link.reference;
      return sprintf('%s/get_structure?id=%s', ref[0], ref[1]);
    },

    getReferenceId: function(field) {
      return field.link.reference[1];
    },

    contains: function(list, needle) {
      return list.split(' ').filter(function(a) { return a == needle; }).length > 0;
    }
  });
  </script>
</dom-module>
