<dom-module id="blend-box">
  <style>
    :host {}

    #blend-box-content {
      display: flex;
      flex-wrap: wrap;
      width: 480px;
      max-width: 100%;
      justify-content: space-between;
    }

    #error { color: #F44336; }
  </style>
  <template>
    <paper-dialog id="dialog" with-backdrop entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <h2>{{caption}}</h2>
      <paper-dialog-scrollable>
        <form is="iron-form" id="form">
          <div id="blend-box-content">
            <template is="dom-repeat" items="{{fields}}">
              <template is="dom-if" if="[[!item.hidden]]">
                <blend-box-field field="{{item}}"></blend-box-field>
              </template>
            </template>
          </div>

        </form>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Abbrechen</paper-button>
        <paper-button on-tap="validate">Speichern</paper-button>
      </div>
      <div hidden="[[!hasErrors]]">
        <div id="error">{{errorMessage}}</div>
      </div>
    </paper-dialog>

    <!-- child blend-box -->
    <div id="blendBoxContainer"></div>
  </template>
  <script>
    BlendBox = Polymer({
      is: 'blend-box',
      properties: {
        fields: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },
        caption: String,
        visible: Boolean,
        submitFunction: Function,
        abortFunction: Function,
        hasErrors: false,
        hasSubmit: false,
        errorMessage: String
      },

      factoryImpl: function(id) {
        this.id = id;
      },

      ready: function() {
        this.init();
      },

      validate: function() {
        var _this = this,
            submitData = {};

        // create lightweight submit data
        this.fields.map(function(field) {
          submitData[field.name] = field.value;
        });

        // execute submit function
        this.submitFunction(submitData, function() {

          // content was valid
          _this.$.dialog.close();
        });
      },

      /**
       * Open the blend-box.
       * @param  String caption The blend-box caption.
       * @param  Object data    Blend box data.
       * @return void
       */
      open: function(caption, data) {
        this.caption = caption;

        this.hasSubmit = !(!data || !data.submit);
        this.submitFunction = (data && data.submit) ? data.submit.bind(this) : null;
        this.abortFunction = (data && data.abort) ? data.abort.bind(this) : null;

        // assign fields
        this.set('fields', []);
        Polymer.dom.flush();
        data.fields.map(function(field) {
          this.push('fields', field);
        }.bind(this));

        // wait till the DOM updated
        this.async(function() {

          // wait until the dialog updated
          this.$.dialog.async(function() {

            // center the dialog
            this.notifyResize();

            this.open();
          });
        });
      },

      /**
       * An error occured.
       * @param  string msg the error message
       * @return void
       */
      error: function(msg) {
        this.errorMessage = msg;
        this.hasErrors = true;
      },

      init: function() {
        var _this = this;

        $(this.container).on('submit', '.blend-box-form', function(evt) {
          evt.stopPropagation();
          evt.preventDefault();
          this.invokeSubmit();
        }.bind(this));

        // clicked on a new reference link
        $(this.$.dialog).on('click', '.new-link-btn', function() {
          var title = $(this).attr('data-title'),
              fieldEl = $(this).parent('blend-box-field')[0],
              id = $(this).attr('data-id'),
              box = new BlendBox(id);

          _this.$.blendBoxContainer.appendChild(box);

          // get the child blend-box structure
          $.post($(this).attr('data-reference'), {
            tableOutputId: id
          }, function(data) {
            data = JSON.parse(data);

            box.open(title, {
              fields: data,
              submit: function(data, success) {
                _this.fire('insert', { id: id, data: data, submit: function(data) {
                  var value;
                  data = JSON.parse(data);
                  value = data.id;

                  // successfully inserted row
                  if (data.code === 0) {
                    success(data.msg);

                    $.post(fieldEl.field.link.id, {
                      reverse: true,
                      id: value
                    }, function(data) {
                      data = JSON.parse(data);
                      fieldEl.updateValue(value, data.text);
                    });

                    return;
                  }
                  // an error occured
                  box.error(data.msg);
                }});
              }
            });
          });
        });

        // $(this.container).on(clickEvt, '.new-link-btn', function() {
        //   var title = $(this).attr('data-title'),
        //     input = $(this).parent().find('input'),
        //     box = new BlendBox(_this.tableOutput, _this.level + 1);
        //
        //   $.post($(this).attr('data-reference') + '/new_entry', {
        //     tableOutputId: box.level
        //   }, function(data) {
        //
        //     data = JSON.parse(data);
        //     data.push({
        //       type: 'submit',
        //       caption: 'Speichern'
        //     });
        //
        //     box.open(title, {
        //       fields: data,
        //       submit: function(data) {
        //         _this.tableOutput.insert(box.level, data, function(data) {
        //           data = JSON.parse(data);
        //
        //           // successfully inserted row
        //           if (data.code === 0) {
        //             box.success(data.msg);
        //             input.attr('data-value', data.id);
        //
        //             $.post($(input).attr('data-link'), {
        //               reverse: true,
        //               id: data.id
        //             }, function(data) {
        //               data = JSON.parse(data);
        //               input.val(data.text);
        //               box.close();
        //             });
        //
        //             return;
        //           }
        //
        //           // an error occured
        //           box.error(data.msg);
        //         });
        //       }
        //     });
        //   });
        // });

        $(this.container).on(clickEvt, '.blend-box-required', function(evt) {
          if ($('.blend-box-form').attr('data-show-all') == 'true') {
            $('.blend-box-form').attr('data-show-all', 'false');
            return;
          }
          $(this.container).find('.blend-box-form').attr('data-show-all', 'true');
        }.bind(this));
      }
    });
  </script>
</dom-module>
