<dom-module id="table-output">
  <style>
    :host {
      display: block;
    }

    .table-head {
      white-space: nowrap;
      padding-left: 48px;
      background: #fff;
      display: inline-block;
    }

    #fab-container { position: fixed; right: 24px; bottom: 24px; }
    #fab-container paper-fab { margin-top: 16px; }
    .new-fab {
      --paper-fab-background: #C21856;
    }
    #spinner { margin: 16px; }

    :root {
      --paper-tab-ink: #C21856;
      --paper-tabs-selection-bar-color: #C21856;
    }

    .table-output-card.opened .card-content { height: auto; }
    .table-output-card.opened .down-btn { transform: rotate(180deg); }
    .table-output-card { margin: 16px; display: block; }
    .card-content { height: 112px; overflow: hidden; }
    .card-actions paper-icon-button { color: #C21856; }
  </style>
  <template strip-whitespace>
    <div class='table-output-bounding-box {{orientation}}'>
      <div class="table-output-info">
        <div id="fab-container">

          <!-- has at least one selection -->
          <template is="dom-if" if="{{hasSelection}}">

            <!-- show edit button because exactly one entry is selected -->
            <template is="dom-if" if="{{hasOneSelection}}">
              <paper-fab class="edit-fab" on-tap="showEditBlendBox" icon="icons:create"></paper-fab>
            </template>

            <!-- show delete button because more than one entry is selected -->
            <paper-fab class="remove-fab" on-tap="showDeleteBlendBox" icon="remove"></paper-fab>
          </template>

          <!-- show new button because nothing is selected -->
          <paper-fab class="new-fab" on-tap="showNewBlendBox" icon="add"></paper-fab>
        </div>
      </div>
      <div hidden="{{!isLoading}}">
        <div id="spinner">
          <paper-spinner id="spinner" active></paper-spinner>
        </div>
      </div>
      <div class="table-content" hidden="{{isLoading}}">
        <div class="table-head">

          <!-- show table head -->
          <template is="dom-repeat" items="{{structure}}">
            <table-output-header order-by="{{orderBy}}" is-order-by-reversed="{{isOrderByReversed}}" field="{{item}}"></table-output-header>
          </template>
        </div>
        <div class="table-body" on-tap="updateHasSelection">

          <!-- loop records -->
          <template is="dom-repeat" items="{{records}}">

            <!-- display entry as a row -->
            <table-output-row
              structure="{{structure}}"
              row="{{item}}"></table-output-row>
          </template>
        </div>
      </div>
      <template is="dom-if" if="printPageButtons">

        <!-- print page buttons -->
        <paper-tabs id="overflowTabs" scrollable selected="0">
          <template is="dom-repeat" items="{{pageButtons}}">
            <paper-tab on-tap="switchPage">
              <div class='nav-btn'>
                <span class='num'>{{item.num}}</span>
                <span class='desc'>
                  <span class='l'>{{item.from}}</span> to <span class='l'>{{item.to}}</span>
                </span>
              </div>
            </paper-tab>
          </template>
        </paper-tabs>
      </template>
    </div>

    <blend-box id="blendBox"></blend-box>
  </template>
  <script>
    Polymer({
      is: 'table-output',
      properties: {
        id: Number,
        printPageButtons: {
          type: Boolean,
          value: true
        },
        isLoading: {
          type: Boolean,
          value: false
        },
        orderBy: {
          type: String,
          value: ''
        },
        isOrderByReversed: {
          type: Boolean,
          value: false
        },
        pageButtons: Array,
        orientation: {
          type: String,
          value: 'vertical'
        },
        structure: {
          type: Array,
          value: []
        },
        records: {
          type: Array,
          value: []
        },
        singlePage: {
          type: Boolean,
          value: false
        },
        filter: {
          type: Object,
          value: {}
        },
        numberOfRecords: Number,
        handler: Object,
        hasOneSelection: {
          type: Boolean,
          value: false
        },
        hasSelection: {
          type: Boolean,
          value: false
        }
      },
      ready: function() {
        var _this = this;

        // handles client-side table-output
        this.handler = new TableOutputHandler(this, '../tableOutput/');

        // load the first page
        this.async(function() {
          this.handler.loadPage(0, '');
        });

        // clicked on a header
        this.addEventListener('update-order-by', function(e) {
          var field = _this.structure[e.detail.index];

          // this is currently the active order by field
          if (_this.orderBy == field.name) {

            if (_this.isOrderByReversed) {

              // remove the order by
              _this.orderBy = '';
              _this.isOrderByReversed = false;
            } else {

              // reverse the order by
              _this.isOrderByReversed = true;
            }

          // the active order by is something else
          } else {

            // set this as the active order by
            _this.orderBy = field.name;
            _this.isOrderByReversed = false;
          }

          // debounce order by job
          this.debounce('update-order-by', function() {
            _this.handler.updateOrderBy();
          }, 400);
        });

        // clicked on a filter of a header
        this.addEventListener('apply-filter', function(e) {
          var field = _this.structure[e.detail.index];

          // this field has an active filter
          if (field.filter.isApplied) {

            // remove this filter
            _this.handler.removeFilter(field, function() {

              // detach filter
              e.detail.detach();

              // reload page
              _this.handler.loadPage(_this.handler.currentPage, _this.handler.orderBy);
            });

            return;
          }

          // set this filter
          _this.handler.showFilterBlendBox(field, function() {

            // attach filter
            e.detail.attach();

            // reload page
            _this.handler.loadPage(_this.handler.currentPage, _this.handler.orderBy);
          });
        });

        this.addEventListener('insert', function(e) {
          var data = e.detail;
          _this.handler.insert(data.id, data.data, data.submit);
        })
      },
      arrayItem: function(change, index, path) {
        var c = change.base[index];
        if (path) return this.get(path, c);
        return c;
      },

      /**
       * Update page nav buttons.
       * @param  Array buttons a list of buttons
       * @return void
       */
      updateNavButtons: function(buttons) {
        this.pageButtons = buttons;
      },
      updateRecords: function(records) {
        this.records = records;
      },
      /**
       * Show new blend-box.
       * @return void
       */
      showNewBlendBox: function() {
        this.handler.showNewBlendBox();
      },

      /**
       * Show delete blend-box.
       * @return void
       */
      showDeleteBlendBox: function() {
        this.handler.showDeleteBlendBox();
      },

      /**
       * Show edit blend-box.
       * @return void
       */
      showEditBlendBox: function() {
        this.handler.showEditBlendBox();
      },

      // toggleCard: function(e) {
      //   var card = $(e.target).parents('.table-output-card').eq(0);
      //   if (!card.hasClass('opened'))
      //     $('#mainContainer').animate({
      //       scrollTop: card.offset().top + $('#mainContainer').scrollTop() - $('.header-bar').height()
      //     }, 400);
      //   card.toggleClass('opened');
      // },

      updateHasSelection: function() {
        var l = this.records.filter(function(record) {
          return record.checked;
        }).length;
        this.hasSelection = l != 0;
        this.hasOneSelection = l == 1;
      },

      /**
       * Switch to the selected page.
       * @param  Object the event
       * @return void
       */
      switchPage: function(e) {
        var handler = this.handler,
            index;

        // wait for event execution
        this.async(function() {
          index = this.$$('#overflowTabs').selected

          // already on this page
          if (handler.currentPage == index) return;

          // set page index
          handler.currentPage = index;

          // load page
          handler.loadPage(index, handler.orderBy);
        });
      }
    });
  </script>
</dom-module>
