<dom-module id="table-output-header">
  <style>
    :host {
      position: relative;
      padding: 0;
      height: 32px;
      line-height: 32px;
      white-space: nowrap;
      text-align: left;
      display: inline-block;
      vertical-align: top;
    }
    span { cursor: default; padding-right: 40px; position: relative; vertical-align: top; white-space: nowrap; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 32px; line-height: 32px; color: #C21856; font-weight: 600; letter-spacing: 1px; font-size: 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: padding .2s ease;
      -o-transition: padding .2s ease;
      transition: padding .2s ease; }

    #text { width: 180px; }
    #number { width: 160px; }
    #bool { width: 160px; }
    #date { width: 160px; }
    #email { width: 240px; }
    #stars { width: 128px; }
    span[data-is-order-by] { padding-left: 40px; }
    span[data-is-reversed-order-by] .order-by-btn {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

    .filter-btn { position: absolute; top: 0; right: 0; height: 32px; padding: 6px; color: rgba(0,0,0,0.5); }
    .filter-btn[data-active] { color: #2288ff; }
    .order-by-btn { position: absolute; left: 0; top: 0; height: 32px; width: 40px; color: #2288ff;
      -webkit-transition: transform .2s ease;
      -o-transition: transform .2s ease;
      transition: transform .2s ease; }
  </style>
  <template strip-whitespace>

    <!-- hidden fields don't require a header -->
    <template is="dom-if" if="{{!equals(field.type, 'hidden')}}">
      <span data-is-reversed-order-by$="{{isOrderByReversed}}" data-is-order-by$="{{isOrderBy(orderBy, field)}}" id="{{field.type}}">

        <div on-tap="updateOrderBy">

          <!-- display order by arrow -->
          <paper-icon-button hidden="{{!isOrderBy(orderBy, field)}}" class="order-by-btn" icon="icons:arrow-downward"></paper-icon-button>

          <!-- text -->
          <template is="dom-if" if="{{equals(field.type, 'text')}}">
            {{field.header}}
          </template>

          <!-- number -->
          <template is="dom-if" if="{{equals(field.type, 'number')}}">
            {{field.header}}
          </template>

          <!-- email -->
          <template is="dom-if" if="{{equals(field.type, 'email')}}">
            {{field.header}}
          </template>

          <!-- bool -->
          <template is="dom-if" if="{{equals(field.type, 'bool')}}">
            {{field.header}}
          </template>

          <!-- date -->
          <template is="dom-if" if="{{equals(field.type, 'date')}}">
            {{field.header}}
          </template>

          <!-- stars -->
          <template is="dom-if" if="{{equals(field.type, 'stars')}}">
            {{field.header}}
          </template>
        </div>

        <!-- display a filter button -->
        <paper-icon-button
          on-tap="filterTap"
          class="filter-btn"
          data-active$="{{field.filter.isApplied}}"
          icon="icons:filter-list"></paper-icon-button>

      </span>
    </template>
  </template>
  <script>
  Polymer({
    is: 'table-output-header',
    properties: {
      field: {
        type: Object,
        notify: true
      },
      orderBy: {
        type: String,
        value: ''
      },
      isOrderByReversed: {
        type: Boolean,
        value: false
      }
    },
    equals: function(a, b) {
      return a == b;
    },
    filterTap: function() {
      var _this = this;

      // attach or detach filter
      this.fire('apply-filter', {
        index: $(this).index(),

        // attach filter
        attach: function() {
          _this.field.filter.isApplied = true;
          _this.set('field.filter.isApplied', true);
        },

        // detach filter
        detach: function() {
          _this.field.filter.isApplied = false;
          _this.set('field.filter.isApplied', false);
        }
      });
    },
    updateOrderBy: function() {
      var _this = this;

      this.async(function() {

        // update order by
        this.fire('update-order-by', {
          index: $(this).index()
        });
      });
    },
    isOrderBy: function(orderBy, field) {
      return field.name == orderBy;
    }
  });
  </script>
</dom-module>
